#hidden, p {
  text-align: center;
  color: #000000;
  font-size: 60px;
}
#hidden, .alice, a:link, a:visited{
    font-size: 60px;
    box-sizing: content-box;
    display: inline-block;
    text-decoration: none;
    color:#020802;
    cursor: default;
    position: inline-block;
}
body {
  
    background-image: url("./Background.jpg");
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    text-align: center;
}
p {
    color:rgb(0, 0, 0);
    font-family:'Brush Script MT',sans-serif ;
 }
 .tea {
    display: inline-block;
    margin-left: 50px;
    max-height: 3px; 
    position:absolute;
  }    
.tea:hover {
      max-height: 1000px;
    }
.smile{
max-height: 10px;
max-width: 10px;
margin: 40 40;
padding: 20 20;
text-align: left;
}
.smile:hover{
max-height: 1000px;
max-width: 1000px;
}
.timer, p{
  color: rgb(14, 7, 7);
  font-size: 130px;
}